{% extends "base.html" %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='pane.js') }}"></script>
{% endblock %}
{% block content %}
<form method="POST" action="/" enctype="multipart/form-data">
    <p>Don't have text/audio yet: <a href="/datasource">Convert a kindle book to data source</a></p>
    {% if datasets %}
        <div class="tab">
            <button class="tablinks active" onclick="openPane(event, 'new')">New dataset</button>
            <button class="tablinks" onclick="openPane(event, 'extend')">Extend existing dataset</button>
        </div>
        <br>

        <div id="new" class="tabcontent" style="display: block;">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name"> 
            </div>
        </div>
        
        <div id="extend" class="tabcontent">
            <div class="form-group">
                <select class="form-control" id="path" name="path">
                    {% for dataset in datasets %}
                        <option value="{{dataset}}">{{dataset}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required> 
        </div>
    {% endif %}

    <div class="form-group">
        <label for="text_file">Text file</label>
        <input type="file" id="text_file" name="text_file" required> 
    </div>
    <div class="form-group">
        <label for="audio_file">Audio file</label>
        <input type="file" id="audio_file" name="audio_file" required> 
    </div>
    <div class="form-group">
        <label for="transcription_model">Transcription model (.pbmm) <a href="https://coqui.ai/models">download</a></label>
        <input type="file" id="transcription_model" name="transcription_model" required> 
    </div>
    <button type="button" class="collapsible" id="advanced">Advanced Options ∨</button>
    <div class="content">
        <br>
        <div class="form-group">
            <input type="range" id="confidence" name="confidence" step="0.05" min="0.5" max="0.95" value="0.85" onchange="showConfidenceLabel()">
            <label for="confidence">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Decreasing minimum confidence will increase data but will likely decrease the quality of that data">Minimum confidence: </a> 
                <span id="confidence_label"></span>
            </label>
        </div>
    </div>
    <br>
    <input type="submit" class="btn btn-primary">
</form>
<script src="{{ url_for('static', filename='advanced.js') }}"></script>
<script src="{{ url_for('static', filename='dataset.js') }}"></script>
{% endblock %}
