{% extends "base.html" %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='resources/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='resources/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='application.js') }}"></script>
{% endblock %}
{% block content %}
<h2>Dataset progress</h2>
<progress id="progress" value="0" max="100"></progress>
<label for="progress" id="progress_label"></label>
<p id="pinned"></p>
<span id="alignment" style="display: none;">
    <p style="text-align: center; margin-bottom: 0; font-weight: bold;" ><span id="alignment-heading"></span> (<a href="alignment-timelapse?name={{ voice }}" target="_blank">Download timelapse</a>)</p>
    <img id="alignment-img" class="center" src=""/>
</span>
<div id="logs" style="background-color: #eee;"></div>
<br>
<a id="next_link" class="btn btn-primary" style="float:right;visibility:hidden;" href="{{ next_url }}">Next</a> 
{% endblock %}
