{% extends "simplebase.html" %}
{% block content %}
<h3>Delete dataset</h3>
<form method="POST" action="/delete-dataset">
    <div class="form-group">
        <select class="form-control" id="dataset" name="dataset" required>
            {% for dataset in datasets %}
                <option value="{{dataset}}">{{dataset}}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" class="btn btn-primary">
</form>
<hr>

<h3>Delete model</h3>
<form method="POST" action="/delete-model">
    <div class="form-group">
        <select class="form-control" id="model" name="model" required>
            {% for model in models %}
                <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" class="btn btn-primary">
</form>
{% endblock %}
