{% extends "base.html" %}
{% block content %}
{% if cuda_enabled %}
<form method="POST" action="/train" enctype="multipart/form-data">
    <div class="form-group">
        <label for="path">Dataset path</label>
        <select class="form-control" id="path" name="path" onchange="showDatasetInfo()" required>
            {% for dataset in datasets %}
                <option value="{{dataset}}">{{dataset}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="pretrained_model">Pretrained model (optional)</label>
        <input type="file" id="pretrained_model" name="pretrained_model"> 
    </div>
    <div class="form-group">
        <input type="range" id="epochs" name="epochs" step="500" min="1000" max="12000" value="5000" onchange="showEpochsLabel()">
        <label for="epochs">Number of epochs</label>
    </div>
    <div class="form-group">
        <h4>Estimate</h4>
        <b id="epochs_label"></b><br>
        <b id="dataset_label"></b>
    </div>
    <script>
    function addSuggestion(value, low, medium, high){
        if(value < low){
            return " (Poor quality) 🙁";
        }else if(value < medium){
            return " (OK quality) 🙂";
        }else if(value < high){
            return " (Good quality) 😃";
        }else{
            return " (Excellent quality) 😄";
        }
    }

    // Epochs
    low_epoch_threshold = 2500;
    medium_epoch_threshold = 5000;
    high_epoch_threshold = 7500;

    function showEpochsLabel(){
        newVal = document.getElementById("epochs").value;
        text = "Epochs: "+newVal.toString();
        text += addSuggestion(newVal, low_epoch_threshold, medium_epoch_threshold, high_epoch_threshold);
        document.getElementById("epochs_label").innerHTML = text;
    }
    showEpochsLabel();

    // Dataset
    low_dataset_threshold = 60 * 60;
    medium_dataset_threshold = 180 * 60;
    high_dataset_threshold = 300 * 60;

    function showDatasetInfo(){
        datasetpath = document.getElementById("path").value;
        
        var xmlhttp = new XMLHttpRequest();
        let urls = {};
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                duration = this.responseText;
                hours = Math.floor(duration / 60 / 60);
                minutes = Math.floor(duration / 60) - (hours * 60);
                text = "Dataset duration: "+hours+" hours, "+minutes+" minutes";
                text += addSuggestion(duration, low_dataset_threshold, medium_dataset_threshold, high_dataset_threshold);
                document.getElementById("dataset_label").innerHTML = text;
            }
        };
        xmlhttp.open("GET", "/dataset-duration?dataset="+datasetpath, true);
        xmlhttp.send();
    }
    showDatasetInfo();
    </script>
    <input type="submit" class="btn btn-primary">
</form>
{% else %}
<h3>Training is not available</h3>
<p>CUDA is not working on your system. Possible reasons:</p>
<ul>
    <li>You don't have NVIDIA GPU</li>
    <li>You drivers are not up-to-date, must be version 450.36+ (check by running 'nvidia-smi')</li>
    <li>You have done a custom installed and accidently installed pytorch cpu only (shows as torch+cpu in 'pip list')</li>
</ul>
{% endif %}
{% endblock %}
