[run]
omit =
    application/*
    tests/*
    extra-hooks/*
    training/tacotron2_model/*
    synthesis/hifigan_model.py
    glow.py
    main.py
    build_exe.py
[report]
exclude_lines =
    if __name__ == .__main__.:
