__pycache__/
.ipynb_checkpoints/
.vscode
.ipynb_checkpoints/
.pytest_cache/

.coverage
latest_silero_models.yml
en_v5.jit
test_samples/
research/timelapse/
data/
ffmpeg/
site/

build/
dist/
main.spec
