__pycache__/
.ipynb_checkpoints/
.vscode
.ipynb_checkpoints/
.pytest_cache/

latest_silero_models.yml
test_samples/
research/timelapse/
data/
ffmpeg/
config.ini
transcribe.pbmm

build/
dist/
main.spec
