pydub==0.24.1
librosa==0.6.0
numpy==1.16.4
inflect==0.2.5
Unidecode==1.0.22
tacotron2-model==0.2.4
Flask==1.1.2
Flask-SocketIO==5.0.1
matplotlib==3.3.4
IPython==7.16.1
webrtcvad==2.0.10
sox==1.4.1
soundfile==0.10.3.post1
omegaconf==2.0.6
numba==0.48
pillow==8.1.0
webrtcvad-wheels
nltk==3.5
