-f https://download.pytorch.org/whl/torch_stable.html
pydub==0.24.1
librosa==0.6.0
numpy==1.16.4
inflect==0.2.5
Unidecode==1.0.22
tacotron2-model==0.2.4
Flask==1.1.2
Flask-SocketIO==5.0.1
matplotlib==3.3.4
IPython==7.16.1
soundfile==0.10.3.post1
omegaconf==2.0.6
numba==0.48
webrtcvad==2.0.10
nltk==3.5
requests==2.25.1
torch===1.7.1
torchvision===0.8.2
torchaudio===0.7.2
